h1.tengah {
  color: #f7f7f7;
  text-align: center;
  margin: 50px 0px;
}

.stats {
  padding: 10px 30px;
  background-color: #f7f7f7;
  border-radius: 20px;
}

#keunggulan {
  background-color: #8672ff00;
  margin: 0px;
  padding: 0px 100px;
}

.keunggulan-card {
  padding: 30px 50px;
}

#testimoni-head {
  background-color: #8672ff00;
  margin: 0px;
  padding: 0px 100px;
}

.card-testimoni {
  position: relative;
  display: inline-block;
  background-color: #f7f7f700;
  background-color: #8672ff7a;
  border-radius: 20px;
  width: 250px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  /* cursor: pointer; */
}

.card-testimoni-image {
  width: auto;
  height: 350px;
  bottom: 0;
  object-fit: cover;
  border-radius: 10px;
  z-index: 1;
  transition: all 0.3s ease;
  filter: brightness(30%);
}

.card-testimoni::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: linear-gradient(
    to bottom,
    rgba(134, 114, 255, 0),
    rgba(135, 114, 255, 1)
  );
  z-index: 2;
  pointer-events: none;
}

.card-testimoni:hover .card-testimoni-image {
  filter: brightness(100%);
}

.card-testimoni-paragraph {
  position: absolute;
  bottom: 0;
  padding: 10px;
  width: 80%;
  color: #f7f7f7;
  z-index: 2;
}

.card-testimoni .card-testimoni-paragraph h3 {
  color: #f7f7f7;
}

.card-testimoni-paragraph > p {
  color: #f7f7f7;
  transition: all 0.3s ease;
}

.card-testimoni:hover .card-testimoni-paragraph > p {
  color: #f7f7f700;
}

.swiper {
  width: 100%;
  padding: 20px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  /* background-color: #8672FF; */
  color: #f7f7f7;
  padding: 10px;
  margin: 0px;
  border-radius: 100px;
  width: 30px;
  height: 30px;
  transition: all 0.5s ease;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px; /* Kecilkan ukuran icon panah */
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: #2e2b41;
}

.button-black:hover {
  background-color: #f7f7f7;
  color: #8672ff;
}

.button-black:hover > svg > path {
  fill: #8672ff;
}

@property --num {
  syntax: "<integer>";
  inherits: true;
  initial-value: 0;
}

.statsnumber::before {
  counter-reset: my-counter var(--num);
  content: counter(my-counter);
  animation: count 5s ease-in forwards;
}

@keyframes count {
    from {
      --num: 0;
    }
    to {
      --num: 243542;
    }
  }
